<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    </head>

    <body>

        <main>
            <section>
                <div class="dev1"><p class='location'>My trip to :</p><input type="text" id="city" placeholder="enter The location"></div><br>
                <div class="dev2"><p class ='date'>Departing :</p><input type="date" class='Departing' id="start" name="trip-start" value="2018-07-22"></div><br>
                <div class="dev2"><p class ='date'>end trip :</p><input type="date" class='Departing' id="end" name="trip-start" value="2018-07-22"></div><br>
                <div class="dev3"><button id='button'>save trip</button> <button id='button' class="Trip">Length of trip</button></div><br>
                <div><p class="Weather" >temperature</p><div class="temperature"></div></div>
                <div><p class="Weather">Weather</p><p class="description"></p></div>
                <div class="photo" >
                    
                </div>
                
                </section>
          
        </main>

       
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
