<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    </head>

    <body>

        <main>
            <section>
                <div class="dev1"><p class='location'>My trip to :</p><input type="text" id="city" placeholder="enter The location"></div><br>
                <div class="dev2"><p class ='date'>Departing :</p><input type="date" class='Departing' id="start" name="trip-start" value="2018-07-22"></div><br>
                <!-- <div class="dev2"><p class ='date'>end trip :</p><input type="date" class='Departing' id="end" name="trip-start" value="2018-07-22"></div><br> -->
                <div class="dev3"><button id='button'>save trip</button> <button id='button' class="deleteTrip">delete trip</button></div><br>
                <div><p class="Weather" >temperature</p><div class="temperature"></div></div>
                <div><p class="Weather">Weather</p><p class="description"></p></div>
                <div class="photo" >
                    <!-- <img src="" id="photoPlace" width="100" height="100"> -->
                </div>
                
                </section>
          
        </main>

        <!-- <footer>
            <p>This is a footer</p>
        </footer> -->

    </body>
</html>
